html
{
height:100%;
}
body
{
font-family:"Trebuchet MS";
font-size:14px;
background-color:#AEAEAE;
height:100%;
padding:0;
margin:0;
}
table
{
border-collapse:collapse;
}
#mainFrame
{
border-style:none solid;
border-color:black;
border-width:3px;
background-color:#FFFFFF;
width:640px;
height:100%;	
margin-right:auto;
margin-left:auto;
padding-right:10px;
padding-left:10px;
overflow:auto;
}
.fieldFrame
{
border-style:solid;
border-color:black;
border-width:2px;
background-color:#FFFFFF;
}
#blackOut
{
position:absolute;
left:0px;
top:0px;
width:100%;
height:100%;
background-color:#000000;
opacity:0.5;
display:none;
}
.contentHolder
{
position:relative;
border-style:solid;
border-color:black;
border-width:3px;
background-color:#FFFFFF;
width:60%;
padding-bottom:10px;
margin-right:auto;
margin-left:auto;
margin-top:10%;
}
.hidden
{
display:none;
}
.center
{
text-align: center;
margin-left: auto;
margin-right: auto;
}
.left
{
text-align: left;
}
input
{
font-family:"Trebuchet MS";
font-size:13px;
text-align:center;
}
.button
{
font-family:"Trebuchet MS";
font-size:12px;
text-align:center;
}
.warning
{
color:#ff0000;
text-align:center;
font-size:12px;
}
.success
{
color:#00cc00;
text-align:center;
font-size:12px;
}
h1,h2,h3,h4,h5,h6{
margin-bottom: 0px;
padding-bottom: 0px;
}
.pageText
{
color:#000000;
font-size:14px;
width:60%
}
.contentTableHeader
{
background-color:#B8B8B8;
}
.contentTableBody
{
background-color:#D6D6D6;
}
.contentTableHighlight
{
background-color:#c0b1ca;
}
